.row {
  //difference btwn width and max-width? max-width means if we have enough available space, our container will be the width we specifiy.
  //otherwise, the element will fill 100% of the available space
  max-width: $grid-width;
  background-color: #eeeeee;
  //top and bottom 0, left and right are set to auto - this means that left and right margins when, calculated, will be the same, and the margins will be centered
  margin: 0 auto;

  //use not pseduo selector to select the last one
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  .col-1-of-2 {
    //need to wrap it around brackets and # when using sass var in css func
    width: calc((100%-#{$gutter-horizontal}) / 2);
    background-color: orangered;
    //need to float left
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}
