@mixin clearfix {
  &::after {
    //standard clearfix procedure - we are doing this because rows have no height otherwise
    content: '';
    display: table;
    //to clear both floats - left or right
    clear: both;
  }
}

@mixin popupCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.25);
}
