.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    /* top bottom left and right, top and bottom, left and right */
    padding: 1.5rem 4rem;
    /*top and bottom margins/paddings are respected */
    display: inline-block;
    /* */
    border-radius: 10rem;
    transition: all 0.2s;
    /*parent element for .btn::after */
    position: relative;
    font-size: 1.6rem;

    //Changes for button element
    cursor: pointer;
    border: none;
  }

  &:hover {
    /*  to go up it is negative value */
    transform: translateY(-3px);
    /* x offset y offset blur */
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  /*when clicked*/
  &:active,
  &:focus {
    //remove form outline that applies
    outline: none;
    /* realted to initial link state */
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  //create a replica of the button right beneath this one (-1 z axis)
  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    /*place it behind */
    z-index: -1;
    transition: all 0.4s;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    // The ::after selector inserts something after the content of each selected element(s). */
    &::after {
      content: '';
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    // The ::after selector inserts something after the content of each selected element(s). */
    &::after {
      content: '';
      background-color: $color-primary;
    }
  }

  &--animated {
    // keyframe animatoon durate animaton time function animation delay */
    animation: moveInBottom 0.5s ease-out 0.75s;
    // animation will start at 0% from get go */
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    font-weight: 700;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    //add border at bottom that is color priamry color
    border-bottom: 1px solid $color-primary;
    transition: all 0.2s;
    padding: 0.5rem;
  }

  //change state when clicked
  /*
  &:focus {
    outline: blue solid 3px;
  }
  */

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    //translate it down to orig position from hover state
    transform: translateY(0);
  }
}
