*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  // without this, any padding and border are added to the total height and width of the field*/
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

// control font size of rem elements  - equivalent of 10px since default is 16px*/
html {
  font-size: 62.5%;

  @include respond-phone {
    font-size: 50%;
  }
}
