*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  // without this, any padding and border are added to the total height and width of the field*/
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

// control font size of rem elements  - equivalent of 10px since default is 16px*/
html {
  font-size: 62.5%; // 1rem - 10px, default is 1rem = 16px, so 10/16

  //mobile first is the other way arounb in terms of ordering these (smaller first?)

  //width < 1200px
  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }

  //width < 900px
  //lowest has to be at bottom
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px
  }

  //width > 1800px
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
